.Title-Style {
  text-align: center;
  color: black;
  padding: 24px;
  background-color: gray;
}

.Title {
  text-align: center;
  font-size: 48px;
}

.card {
  min-height: 200px;
  max-width: 500px;
}

.card-deck {
  margin: 24px;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
